header {
	width: 100%;
	height: 80px;
	background-color: #6cc72c;
	text-align: center;

	h1 {
		margin: 0;
		text-transform: uppercase;
		font-size: 32px;
		padding-top: 20px;
		font-weight: 400;
		color: #fff;
	}
}
